button {
  border-radius: 2px;
  padding: 5px 25px;
}

.button-primary {
  background-color: #33a0ff;
  color: white;
  border: #33a0ff;
}
.button-primary:hover {
  background-color: #2e90e5;
  border: #2e90e5;
}
.button-danger {
  background-color: #ff4858;
  color: white;
  border: #ff4858;
}
.button-danger:hover {
  background-color: #f53848;
  border: #f53848;
}
.button-success {
  background-color: #0ad00a;
  color: white;
  border: #0ad00a;
}
.button-success:hover {
  background-color: #07c107;
  border: #07c107;
}
.button-warning {
  background-color: #ffc600;
  color: white;
  border: #ffc600;
}
.button-warning:hover {
  background-color: #ebb600;
  border: #ebb600;
}
.button-default {
  background-color: #22262a;
  color: white;
  border: #22262a;
}
.button-default:hover {
  background-color: #13161a;
  border: #13161a;
}
