button {
  border-radius: 2px;
  padding: 5px 25px;
  background-color: #22262a;
  color: #22262a;
  border: 2px solid #22262a;
  cursor: pointer;
}

img{
  margin-right: 5px;
}

.no-text {
  padding: 5px 12px;
}

.button-default-hover:hover {
  background-color: #13161a;
  border: 2px solid #13161a;
}

.button-default-pale {
  background-color: rgba(34, 38, 42, 0.2);
}

.button-primary {
  background-color: #33a0ff;
  color: #33a0ff;
  border: 2px solid #33a0ff;
}
.button-primary-hover:hover {
  background-color: #2e90e5;
  border: 2px solid #2e90e5;
}

.button-primary-pale {
  background-color: rgba(51, 160, 255, 0.2);
}
.button-danger {
  background-color: #ff4858;
  color: #ff4858;
  border: 2px solid #ff4858;
}
.button-danger-hover:hover {
  background-color: #f53848;
  border: 2px solid #f53848;
}

.button-danger-pale {
  background-color: rgba(255, 72, 88, 0.2);
}
.button-success {
  background-color: #0ad00a;
  color: #0ad00a;
  border: 2px solid #0ad00a;
}
.button-success-hover:hover {
  background-color: #07c107;
  border: 2px solid #07c107;
}

.button-success-pale {
  background-color: rgba(10, 208, 10, 0.2);
}
.button-warning {
  background-color: #ffc600;
  color: #ffc600;
  border: 2px solid #ffc600;
}
.button-warning-hover:hover {
  background-color: #ebb600;
  border: 2px solid #ebb600;
}

.button-warning-pale {
  background-color: rgba(255, 198, 0, 0.2);
}

.button-large {
  padding: 10px 50px;
}
.button-outline {
  background-color: white;
}
.button-white {
  color: white;
}
.button-border {
  border: none;
}
